<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/bridyboo/" target="_blank">@bridyboo</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/bridyboo" target="_blank">linkedin.com/in/bridyboo</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:matthewdarmadi@gmail.com" target="_blank">matthewdarmadi@gmail.com</a></p>
<p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="tel:2068228056" target="_blank">206-822-8056</a></p>
